[alias]
	s = status
	co = checkout
	b = branch -v --sort=-committerdate
	del = branch -D
	c = "!better-commits"
	d = diff
	undo = reset HEAD~1 --mixed
	unstage = reset HEAD --
	last = log --name-only --relative-date --abbrev-commit -1 HEAD
	rhist = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	f = fetch
	r = "!f() { git rev-parse --verify --quiet origin/main && git rebase origin/main || git rebase origin/master; }; f"
	a = add --all
	oops = commit --amend --no-edit
	enforce = push --force-with-lease
[push]
	default = current
	autoSetupRemote = true
[user]
	name = Tyler Becks
	email = tylerdbecks@gmail.com
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	autosquash = true
[sequence]
	editor = code --wait
[rerere]
	enabled = true
	autoUpdate = true
[core]
	pager = delta
	editor = code --wait
[interactive]
  diffFilter = delta --color-only
[add.interactive]
	useBuiltin = false # required for git 2.37.0
[diff]
	algorithm = histogram
	colorMoved = default
	colorMovedWS = allow-indentation-change
	external = difft
  tool = difftastic
[pager]
	difftool = true
[merge]
	conflictstyle = zdiff3
[difftool]
  prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[mergetool]
  prompt = false
[gpg]
	format = ssh
[commit]
	gpgSign = false
	verbose = true
[maintenance]
	repo = /Users/tylerbecks/Code/fuego-frontend
[branch]
	sort = -committerdate
